* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 80vh;
  min-width: 230px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logos {
  min-width: 230px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logtext {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.images {
  min-width: 230px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.name {
  min-width: 180px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

.iname {
  height: 40px;
  color: blue;
  font-weight: bold;
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-color: red;
  border-width: 2px;
  border-style: inset;
}

.iroom {
  width: 300px;
  font-weight: bold;
  color: blue;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-color: red;
  border-width: 2px;
  border-style: inset;
}

.room {
  min-width: 180px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

.image {
  height: 18vh;
  width: 18vh;
  margin: auto;
  padding: 3px 3px 3px 3px;
  background-size: 18vh 18vh;
  border-radius: 40%;
  border-color: red;
  border-style: outset;
  cursor: pointer;
}

.details {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.croom {
  height: 70px;
  width: 120px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border-style: hidden;
  font-size: large;
  cursor: pointer;
}
.enter {
  height: 70px;
  width: 120px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border-style: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .enter {
    height: 50px;
  }
  .croom {
    height: 50px;
  }
  .details {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .image {
    height: 15vh;
    width: 15vh;
    background-size: 15vh 15vh;
  }
}

@media only screen and (max-width: 550px) {
  .logos {
    font-size: large;
  }
}

@media only screen and (max-width: 310px) {
  .logos {
    font-size: 1rem;
  }
  .croom {
    width: 110px;
  }
  .enter {
    width: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    height: 100vh;
  }
}

@media only screen and (max-width: 410px) {
  .iroom,
  .iname {
    width: 180px;
  }
}
